
.contact{
    margin-left: 150px;
    margin-top: 60px ;
    margin-bottom: 60px;

}
.card0{
    box-shadow: 0px 4px 8px 0px gray;
    border-radius: 0px;
}
.card2{
    margin: 0px 40px;
}

.card1 .image{
    padding: 30px;
    margin:75px 25px 25px 25px;
    height: 100%;
    width: 100%;
    /* margin: auto; */
    /* border: 2px solid black; */
    /* margin-left: 10px; */

}
/* .border-line{
    border-right:1px solid #e0e0e0 ;
    height: 100%;
} */
.line{
    height: 1px;
    width: 45%;
    background-color: rgb(186, 67, 67);
    margin-top: 10px;
}
.or{
    display: flex;
    width: 10%;
    font-weight: bold;

}
::placeholder{
    color: #bdbdbd;
    opacity: 1;
    font-weight:300 ;
}
input,textarea{
    padding: 10px 12px;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 1px;

}
/* .rowc img{
    width: 50%;
    margin-left: 50px;
    margin-top: 30px;
} */
input:focus,textarea:focus{
    box-shadow: none!important;
    outline: 1px solid #138781 !important;
    outline-width:0px ;
}
.button:focus{
    box-shadow: none;
    outline-width: 0px;
}
.button{
    background-color: #138781;
    color: white;
    opacity: 1;
    border-radius: 2px;
    margin-top: 15px;
    padding: 10px;
}


@media(max-width:600px){
    .contact{
        margin: 0;
        padding: 0;
        margin-top: 50px;
    }
    .image{
        width: 20px;
    }
}